<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-game-heading" jhiTranslate="hockeyMatchApp.game.home.createOrEditLabel">Create or edit a Game</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!game.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="game.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hockeyMatchApp.game.time" for="field_time" [ngbTooltip]="'hockeyMatchApp.game.help.time' | translate">Time</label>
                    <div class="d-flex">
                        <input id="field_time" type="datetime-local" class="form-control" name="time" [(ngModel)]="time"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hockeyMatchApp.game.goalsTeam1" for="field_goalsTeam1" [ngbTooltip]="'hockeyMatchApp.game.help.goalsTeam1' | translate">Goals Team 1</label>
                    <input type="number" class="form-control" name="goalsTeam1" id="field_goalsTeam1"
                        [(ngModel)]="game.goalsTeam1" min="0" max="1000"/>
                    <div [hidden]="!(editForm.controls.goalsTeam1?.dirty && editForm.controls.goalsTeam1?.invalid)">
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.goalsTeam1?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.goalsTeam1?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 1000 }">
                            This field cannot be more than 1000.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.goalsTeam1?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hockeyMatchApp.game.goalsTeam2" for="field_goalsTeam2" [ngbTooltip]="'hockeyMatchApp.game.help.goalsTeam2' | translate">Goals Team 2</label>
                    <input type="number" class="form-control" name="goalsTeam2" id="field_goalsTeam2"
                        [(ngModel)]="game.goalsTeam2" min="0" max="1000"/>
                    <div [hidden]="!(editForm.controls.goalsTeam2?.dirty && editForm.controls.goalsTeam2?.invalid)">
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.goalsTeam2?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.goalsTeam2?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 1000 }">
                            This field cannot be more than 1000.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.goalsTeam2?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hockeyMatchApp.game.resultTeam1" for="field_resultTeam1" [ngbTooltip]="'hockeyMatchApp.game.help.resultTeam1' | translate">Result Team 1</label>
                    <input type="number" class="form-control" name="resultTeam1" id="field_resultTeam1"
                        [(ngModel)]="game.resultTeam1" min="0" max="3"/>
                    <div [hidden]="!(editForm.controls.resultTeam1?.dirty && editForm.controls.resultTeam1?.invalid)">
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.resultTeam1?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.resultTeam1?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 3 }">
                            This field cannot be more than 3.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.resultTeam1?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hockeyMatchApp.game.resultTeam2" for="field_resultTeam2" [ngbTooltip]="'hockeyMatchApp.game.help.resultTeam2' | translate">Result Team 2</label>
                    <input type="number" class="form-control" name="resultTeam2" id="field_resultTeam2"
                        [(ngModel)]="game.resultTeam2" min="0" max="3"/>
                    <div [hidden]="!(editForm.controls.resultTeam2?.dirty && editForm.controls.resultTeam2?.invalid)">
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.resultTeam2?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.resultTeam2?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 3 }">
                            This field cannot be more than 3.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.resultTeam2?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hockeyMatchApp.game.tournament" for="field_tournament">Tournament</label>
                    <select class="form-control" id="field_tournament" name="tournament" [(ngModel)]="game.tournamentId"  required>
                        <option *ngIf="!editForm.value.tournament" [ngValue]="null" selected></option>
                        <option [ngValue]="tournamentOption.id" *ngFor="let tournamentOption of tournaments; trackBy: trackTournamentById">{{tournamentOption.name}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.tournament?.dirty && editForm.controls.tournament?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.tournament?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hockeyMatchApp.game.team1" for="field_team1">Team 1</label>
                    <select class="form-control" id="field_team1" name="team1" [(ngModel)]="game.team1Id"  required>
                        <option *ngIf="!editForm.value.team1" [ngValue]="null" selected></option>
                        <option [ngValue]="teamOption.id" *ngFor="let teamOption of teams; trackBy: trackTeamById">{{teamOption.name}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.team1?.dirty && editForm.controls.team1?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.team1?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hockeyMatchApp.game.team2" for="field_team2">Team 2</label>
                    <select class="form-control" id="field_team2" name="team2" [(ngModel)]="game.team2Id"  required>
                        <option *ngIf="!editForm.value.team2" [ngValue]="null" selected></option>
                        <option [ngValue]="teamOption.id" *ngFor="let teamOption of teams; trackBy: trackTeamById">{{teamOption.name}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.team2?.dirty && editForm.controls.team2?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.team2?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <span class="fas fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <span class="fas fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
