<div>
    <h2 id="page-heading">
        <span jhiTranslate="hockeyMatchApp.game.home.title">Games</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-game-my-suffix" [routerLink]="['/game-my-suffix/new']">
            <span class="fas fa-plus"></span>
            <span  jhiTranslate="hockeyMatchApp.game.home.createLabel">
            Create new Game
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="games">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="time"><span jhiTranslate="hockeyMatchApp.game.time">Time</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="goalsTeam1"><span jhiTranslate="hockeyMatchApp.game.goalsTeam1">Goals Team 1</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="goalsTeam2"><span jhiTranslate="hockeyMatchApp.game.goalsTeam2">Goals Team 2</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="result"><span jhiTranslate="hockeyMatchApp.game.result">Result</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="team1Name"><span jhiTranslate="hockeyMatchApp.game.team1">Team 1</span> <span class="fas fa-sort"></span></th>
            <th jhiSortBy="team2Name"><span jhiTranslate="hockeyMatchApp.game.team2">Team 2</span> <span class="fas fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let game of games ;trackBy: trackId">
                <td><a [routerLink]="['/game-my-suffix', game.id, 'view' ]">{{game.id}}</a></td>
                <td>{{game.time | date:'medium'}}</td>
                <td>{{game.goalsTeam1}}</td>
                <td>{{game.goalsTeam2}}</td>
                <td>{{game.result}}</td>
                <td>
                    <div *ngIf="game.team1Id">
                        <a [routerLink]="['../team-my-suffix', game.team1Id , 'view' ]" >{{game.team1Name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="game.team2Id">
                        <a [routerLink]="['../team-my-suffix', game.team2Id , 'view' ]" >{{game.team2Name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/game-my-suffix', game.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <span class="fas fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/game-my-suffix', game.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <span class="fas fa-pencil-alt"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'game-my-suffix/'+ game.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fas fa-times"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
